$lighter-beige-gradient-table: linear-gradient(to bottom, #FDF1C8, #E0B88A);


.workers-container {

    padding: 20px;
    font-size: 16px;

    .container {
        max-width: 100%;
    }

    .datails-of-worker {
        .input-editing {
            border: 2px solid #AEC3AE;
            border-radius: 5px
        }

        .trash-icon {
            cursor: pointer;
        }
    }

    .btn {
        font-size: 14px;
        padding: 10px 20px;

        &.search-button {
            background: $lighter-beige-gradient-table;
            color: white;
        }

    }



    .table {
        font-size: 17px;
        width: 100%;


    }

    td {
        width: 150px;
    }

    @media (min-width: 768px) {
        .container {
            max-width: 768px;
        }

        .btn {
            font-size: 16px;
            padding: 12px 24px;
        }
    }
}