@import "../../mixins/mixins";

input:focus {
    outline: none;
}

@media (min-width: 768px) {
    .datails-of-worker {
    .input-editing {
        border: 2px solid #AEC3AE;
        border-radius: 5px;
    }

    .trash-icon {
        cursor: pointer;
    }
}


.btn-edit {
    @include background-secondary;
    width: 79px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    transition: all .2s;

    &:hover {
        @include background-primary;
    }
}

.btn-save {
    @extend .btn-edit;
    background-color: rgb(215, 201, 5);

    &:hover {
        background-color: rgb(254, 238, 13);
        color: black;
    }
}

.table {
    font-size: 17px;
    width: 100%;
}

td {
    width: 150px;
}
}