.container {
    background: linear-gradient(180deg, #ffffff, #808080);
    padding: 20px;
    text-align: center;
  
    .background-line {
      height: 4px;
      background-color: #3498db;
      margin-bottom: 20px;
    }
  
    .layout {
      display: flex;
      flex-direction: column;
  
      .workers-first,
      .content,
      .workers-second {
        width: 100%;
      }
  
      .workers-first,
      .workers-second {
        img {
          max-width: 100%;
          height: auto;
          display: block;
        }
      }
  
      .workers-first-img {
        border-radius: 1% 52% 4% 30%;
      }
  
      .workers-second-img {
        clip-path: polygon(0% 0%, 16% 2%, 39% 0%, 83% 4%, 100% 0%, 100% 24%, 98% 48%, 100% 75%, 100% 100%, 75% 97%, 45% 100%, 1% 100%, 7% 81%, 0% 56%);
      }
  
      .content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
  
        .heading {
          margin: 20px;
          border-radius: 10px;
          width: 400px;
          padding: 20px;
          text-align: center;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          background-color: rgba(159, 177, 231, 1);
          background-image: linear-gradient(160deg, rgba(159, 177, 231, 1) 0%, rgba(50, 60, 80, 1) 100%);
  
          .heading-text {
            font-size: 1.5rem;
          }
  
          .heading-button {
            display: block;
            margin-top: 10px;
            text-decoration: none;
            font-weight: bold;
          }
        }
  
        .workers-second {
          img {
            max-width: 100%;
            height: auto;
            display: block;
          }
        }
      }
    }
  
    @media (min-width: 768px) {
      .layout {
        flex-direction: column; /* Zmiana układu na jeden pod drugim */
      }
    }
  
    @media (min-width: 1200px) {
      .container {
        padding: 20px;
      }
    }
  }
  