@import '../../mixins/mixins';

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;

}

.header {
    @include background-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 1rem;
    position: relative;


    &-logo-link {
        font-weight: bold;
        text-decoration: none;
        color: black;
        transition: all .2s;

        &:hover {
            color: white;
        }
    }

    .switch-mode {
        border: 2px solid #c8d7bb;
        padding: 4px;
        border-radius: 50%;
        cursor: pointer;

        .moon-icon {
            color: white;
        }
    }

    &-nav {
        margin-bottom: 0;
        display: flex;
        align-items: center;

        &-menu {
            display: flex;
            align-items: center;
            list-style: none;


            .workers-link,
            .find-workers-link {
                text-decoration: none;
                transition: all .2s;
                color: black;

                &:hover {
                    color: white;
                }
            }

            li {
                margin-right: 20px;
                cursor: pointer;

            }

            li:nth-child(3) {
                margin-right: 5px;
            }

            li:nth-child(4) {
                margin-right: 5px;
            }

            .btn-login {
                @include button-primary;
            }

            .btn-sign-up {
                @include button-primary;
            }
        }

    }
}


.burger-icon {
    cursor: pointer;
    margin-right: 5px;
}

.menu-wrapper {
    background-color: #aec3ae75;
    position: absolute;
    width: 164px;
    height: 170px;
    top: 14px;
    right: 45px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        /* Забрати зовнішній відступ у списку */
        padding: 0;
        /* Забрати внутрішній відступ у списку */

        li {
            display: flex;
            justify-content: center;
            list-style: none;
            /* Забрати маркери списку */
            text-align: center;
            /* Вирівняти текст по центру */
            margin-bottom: 10px;
            /* Внутрішній відступ між елементами списку */
        }
    }
}

.header-nav-menu {
    display: flex;
    flex-direction: row;
    /* За замовчуванням: горизонтально */

    &.vertical {
        flex-direction: column;
        /* Показувати вертикально на невеликих екранах */
    }
}

@media (max-width: 768px) {
    .header-nav-menu.horizontal {
        display: none;
        /* Сховати горизонтальне меню на невеликих екранах */
    }
}