@import '../../mixins/mixins';

.footer {
    @include background-secondary;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;

    &-media {
        display: flex;
        align-items: center;
        justify-content: center;

        &-icons {
            font-size: 2rem;
            margin-right: 5px;
            color: white;
        }
    }

    &-text {
        font-size: 14px;
    }

    .github-ico {
        font-size: 27px;
    }

}