@import "../../mixins/mixins";

.add-component {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;

    &-form {
        width: 420px;
        max-width: 520px;
    }

    .form-input {
        border-radius: 5px;
        width: 200px;
        height: 45px;
    }
}

.btn-submit {
    @include button-secondary;
    transition: all 0.2s;
}

@media (max-width: 768px) {

    .add-component {
        &-form {
            padding: 0 20px;
            width: 320px;
            justify-content: center;
    
        }

        &-heading {
            display: flex;
            justify-content: center;
        }
    }

    .form-input {
        width: 250px;
        margin-right: 0;
    }

    .btn-wrapper {
        display: flex;
        justify-content: center;
    }
}