@import "../../mixins/mixins";

.add-page {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: pointer;
}

.btn-submit {
    @include button-secondary;
    transition: all 0.2s;
    &-transparent {
        background-color: #aaafaaaf;
    }
   
}

