.btn-login {
    color: white;
}

.btn-sing-up {
    color: black;
}

.link {
    text-decoration: none;
}
.navBar__logo {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 64px;
    line-height: 75px;
}